body {
    background-color: silver;
}

div{
    width:100%;
    height:auto;
    white-space: nowrap;
    margin: 0px;
}


h1{
    font-family:Arial;
    font-size:40px;
}

ul{
    font-style:bold;
    font-size:12px;
}


.txtcenter {
    text-align: center;
}

img {
    max-width: 400px;
    width: 20%;
    height: auto;
        
}

.imgmenu {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 0px;
}